@{
    ViewBag.Title = "UpdateVehicle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Veriler Başarılı Bir Şekilde Güncellendi.</h2>
    <button>@Html.ActionLink("Ana Sayfa", "Vehicles", "Admin")</button>
</body>
</html>
